@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@100;500;800&display=swap');

:root {
  --light: #FAEEFC;
  --dark: #0F1020;
  --light-primary: #B9C1DF;
  --dark-primary: #576BB2;
  --mid-primary: #8190C5;
  --light-secondary: #EFC3F5;
  --mid-secondary: #E396ED;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trispace', sans-serif;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--dark);
  background-color: var(--light);
}

main {
  padding-top: 2rem;
  display: flex;
  gap: 2rem;
}

h2 {
  margin-bottom: 0.5em;
}

form {
  display: flex;
  align-items: center;
  gap: 2em;
}

label {
  display: block;
  margin-bottom: 0.25em;
}

input {
  font-family: 'Trispace', sans-serif;
  font-size: 1.25rem;
  padding-block: 0.25em;
  width: 20ch;
}

button {
  background-color: transparent;
  padding: 1em;
  font-family: inherit;
  border: 2px solid var(--dark);
  box-shadow: -4px 4px var(--dark);
  color: var(--dark);
}

#play-other {
  margin-right: 2em;
}

button:disabled {
  color: var(--mid-primary);
  border-color: var(--mid-primary);
  box-shadow: -4px 4px var(--mid-primary);
}

button:disabled:hover {
  cursor: default;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
  background-color: var(--light-secondary);
}

[id $= "gameboard"] {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-color: var(--light-primary);
  border: 1px solid var(--dark-primary);
  border-bottom: none;
  border-right: none;
}

#aux-gameboard .cell {
  width: 24px;
  height: 24px;
}

.row .cell:last-of-type {
  border-right: 1px solid var(--dark-primary);
}

.row:last-of-type .cell {
  border-bottom: 1px solid var(--dark-primary);
}

#main-gameboard .cell:not(.miss, .hit):hover {
  cursor: pointer;
  background-color: var(--mid-primary);
}

.cell.miss {
  background-color: var(--dark-primary);
}

.cell.ship {
  background-color: var(--light-secondary);
}

.cell.hit {
  background-color: var(--mid-secondary);
}

.hidden {
  display: none;
}